#  Predicting Bank Loan Eligibility from Loan Status Prediction Dataset

## Introduction

When an individual requests a loan from an entity such as a government, corporation or bank, they must submit an application in which they request the amount they need to borrow. The entity can approve or deny the request, based on factors such as the individual’s financial history and character.

In our project, we are trying to predict whether or not a person will have their loan approved based on the characteristics described in the data set. This leads us to the question:
> Will a loan applicant have their loan approved or denied based on the applicant's income, co-applicant's income, loan amount (in thousands), and loan amount term (in months)?

This dataset compllied [here](https://www.kaggle.com/datasets/bhavikjikadara/loan-status-prediction/data) by Bhavik Jikadara provides information about 12 chararcteristics of each applicant who applied for a property loan from a bank including categorical variables such as gender, marital status, number of dependents, education, whether or not they’re self-employed, whether or not their credit history meets guidelines, property area, and loan status, as well as quantitative variables which values have not been standardized such as income, coapplicant income, loan amount (in thousands), and loan term (in months). It contains stats whether the bank gives the loan.

## Preliminary exploratory data analysis

In [ ]:
library(tidyverse)
library(repr)
library(tidymodels)
options(repr.matrix.max.rows = 6)
source('tests.R')
source('cleanup.R')

Warning message in file(filename, "r", encoding = encoding):
“cannot open file 'tests.R': No such file or directory”

ERROR: Error in file(filename, "r", encoding = encoding): cannot open the connection

In [9]:
# reading the data

loan_data <- read_csv("Group Project/loan_data.csv")
loan_data

Rows: 381 Columns: 13
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (8): Loan_ID, Gender, Married, Dependents, Education, Self_Employed, Pro...
dbl (5): ApplicantIncome, CoapplicantIncome, LoanAmount, Loan_Amount_Term, C...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    Loan_ID  Gender Married Dependents Education    Self_Employed
1   LP001003 Male   Yes     1          Graduate     No
2   LP001005 Male   Yes     0          Graduate     Yes
3   LP001006 Male   Yes     0          Not Graduate No
⋮   ⋮        ⋮      ⋮       ⋮          ⋮            ⋮
379 LP002978 Female No      0          Graduate     No
380 LP002979 Male   Yes     3+         Graduate     No
381 LP002990 Female No      0          Graduate     Yes
    ApplicantIncome CoapplicantIncome LoanAmount Loan_Amount_Term
1   4583            1508              128        360
2   3000               0               66        360
3   2583            2358              120        360
⋮   ⋮               ⋮                 ⋮          ⋮
379 2900            0                  71        360
380 4106            0                  40        180
381 4583            0                 133        360
    Credit_History Property_Area Loan_Status
1   1              Rural         N
2   1              Urban         Y
3   1              Urban         Y
⋮   ⋮              ⋮             ⋮
379 1              Rural         Y
380 1              Rural         Y
381 0              Semiurban     N

In [5]:
# splitting between training and testing sets 

loan_split <- initial_split(loan_data, prop = 0.75, strata = Loan_Status) 
loan_training <- training(loan_split) 
loan_testing <- testing(loan_split) 

# exploratory data analysis (table) 

loan_counts <- loan_training |>
    group_by(Loan_Status) |>
    summarise(Number_of_Observations = n())
loan_counts

loan_missing_data <- loan_training |>
# ask TA because our dataset has empty spaces instead of NA

loan_means <- loan_training |> 
    select(ApplicantIncome, CoapplicantIncome, LoanAmount, Loan_Amount_Term) |>
    map_dfr(mean, na.rm = TRUE) 
loan_means

# exploratory data analysis (plots) 

loan_distributions <- loan_training |>
    ggplot(aes(x = ApplicantIncome)) +
    geom_histogram() 
loan_distributions

ERROR: Error in loan_means: The pipe operator requires a function call as RHS (<text>:17:1)

## Methods 

#### Explain how you will conduct either your data analysis and which variables/columns you will use. 

Data analysis will be conducted using k-nearest neighbours classification through a tidymodels workflow. 
Variables we will use: 
- ApplicantIncome
- Co-applicant income
- LoanAmount
- Loan amount term 
- Credit history 
- Property area 

#### Describe at least one way that you will visualize the results

## Expected outcomes and significance

#### What do you expect to find?

Using predictors to decide if a new applicant would be eligible for a loan.

#### What impact could such findings have?

The findings could show bias in loan approval and indicate which populations may have a harder time being approved for a loan. 

#### What future questions could this lead to?

This could lead to mechanistic questions about the underlying mechanism behind whether or not someone receives a loan. One could also pose an inferential question based on the preliminary exploratory data about how the variables in this data set can be applied to the wider population.